.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 10px 20px;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  flex: 0 0 auto;
  margin-right: 20px;
}

.logo {
  height: 100px;
}

.navbar-center {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-text h1 {
  font-size: 2.5em;
  color: #9f100a;
  margin: 0;
  text-align: left;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul li {
  margin-right: 15px;
}

.nav-menu ul li a {
  color: #e88a1d;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
}

.nav-menu ul li a.active {
  background-color: #e88a1d;
  color: white;
}

.navbar-right,
.social-login-container {
  display: flex;
  align-items: center;
}

.navbar-right {
  margin-top: auto;
  margin-right: 10px;
}

.login-button,
.logout-button {
  margin: 0px 5px 10px auto;
  padding: 5px 15px;
  font-size: 1.2em;
  background-color: #e88a1d;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  height: 100%;
  box-sizing: border-box;
}

.social-icons a {
  color: #e88a1d;
  margin-right: 10px;
  font-size: 2em;
  height: 100%;
}

.social-icons a svg {
  margin-top: 5px;
  height: 100%;
}

.menu-toggle {
  display: none;
  font-size: 1.5em;
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  color: #e88a1d;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
}

.navbar .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 200px;
}

.navbar .dropdown-menu li {
  list-style: none;
  background-color: #f0f0f0;
}

.navbar .dropdown-menu li a {
  color: #e88a1d;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
  text-align: left;
  display: block;
  padding-left: 10px;
}

/* .navbar .dropdown-menu li a:hover {
  background-color: #ddd;
} */

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  .navbar-left {
    width: 100%;
    justify-content: center;
  }

  .logo {
    height: 60px;
  }

  .navbar-center {
    width: 100%;
    justify-content: center;
  }

  .header-text h1 {
    font-size: 2em;
    text-align: center;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu ul li {
    margin: 5px 0;
  }

  .nav-menu ul li a {
    font-size: 1.2em;
  }

  .navbar-right {
    margin-right: 15px;
  }

  .login-button,
  .logout-button {
    font-size: 12px;
    padding: 5px 10px;
  }

  .social-icons a svg {
    width: 30%;
    height: 30%;
  }

  .menu-toggle {
    display: block;
  }

  .user-info h3 {
    margin: 30px 0px 10px 0px;
    padding: 0;
  }

  .navbar .dropdown {
    position: relative;
  }

  .navbar .dropdown-toggle {
    font-size: 1.2em !important;
    cursor: pointer;
    font: inherit;
    font-weight: 700;
    color: #e88a1d;
  }

  .navbar .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
  }
  .navbar .dropdown-menu li {
    list-style: none;
    background-color: #f0f0f0;
  }

  .navbar .dropdown-menu li a {
    color: #e88a1d;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    text-align: left;
    display: block;
    padding-left: 10px;
  }

  /* .navbar .dropdown-menu li a:hover {
    background-color: #ddd;
  } */

  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}
