/* src/components/Home.css */

.home-container {
    font-size: medium;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.home-picture {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.home-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(164, 160, 160, 0.3);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.intro p {
    font-size: 1.5em;
    margin: 40px auto;
    max-width: 70%;
}

.intro a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e88a1d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
}

.events {
    background-color: #fff3b7;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}

h2 {
    color: #e88a1d;
    margin-bottom: 30px;
    font-size: 36px;
}

.event-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-buttons>div {
    width: 30%;
    margin-bottom: 20px;
    position: relative;
}

.event-buttons img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 5;
    object-fit: cover;
}

.event-buttons button {
    width: 100%;
    padding: 10px;
    background-color: #e88a1d;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    border-radius: 20px;
    margin-top: 30px;
}

.ads {
    background-color: #fff3b7;
}

.ads h2 {
    text-align: center;
}

.ads-container {
    display: flex;
    overflow-x: scroll;
    padding: 30px 0;
}

.ads-container img {
    width: 200px;
    height: auto;
    margin: 0 10px;
    flex: 0 0 auto;
}

.news {
    text-align: center;
    margin-top: 50px;
}

.news h2 {
    margin-bottom: 30px;
}

.news-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 20px auto;
    background-color: rgb(238, 232, 232);
    padding: 20px;
    border-radius: 10px;
}

.news-item img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.news-text {
    max-width: 800px;
    background-color: rgb(238, 232, 232);
}

.news-text h3 {
    text-align: left;
    font-size: 1.5em;
    margin-left: 15px;
}

.news-text p {
    margin: 0px 15px 20px 15px;
    text-align: left;
}

footer {
    margin-top: 100px;
    padding: 20px;
    background-color: #fff3b7;
}

footer p {
    margin: 0;
    font-size: 0.8em;
    color: #e88a1d;
}

@media (max-width: 768px) {
    .home-container {
        margin-top: 0;
    }

    .intro p {
        font-size: 1em;
    }

    .event-buttons>div {
        width: 100%;
    }

    .event-buttons img {
        aspect-ratio: 3 / 5;
    }
}